{% extends "fuelest/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />
<script>
  $(function () {
    $(".datepicker").datepicker({
      changeMonth: true,
      changeYear: true,
    });
    $("#id_gallons").change(function () {

      document.getElementById("total_field").value = (Math.ceil({{ pr }} * $("#id_gallons").val() * 100) / 100).toFixed(2);
    });
  $("#get_price").click(function () {
    let price = 0.0;
    let is_valid = true;
    if (document.getElementById("gallons").value <= 0) {
      $('#gal_err_lab').text("Please enter a positive integer.");
      is_valid = false;
    }
    else {
      $('#gal_err_lab').text("");
    }
    if (document.getElementById("delivery_date").value == '') {
      $('#date_err_lab').text("Please enter a valid future date.");
      is_valid = false;
    }
    else {
      date1 = new Date(document.getElementById("delivery_date").value);
      date2 = new Date();
      if (date1 < date2) {
        $('#date_err_lab').text("Please enter a valid future date.");
        is_valid = false;
      }
      else {
        $('#date_err_lab').text("");
      }
    }
    if (is_valid) {
      let base_price = 1.50
      let location_factor = 0.04;
      if ('{{state}}' == 'TX')
        location_factor = 0.02;
      let hist_factor = 0;
      if ('{{hist}}' == 'True')
        hist_factor = 0.01;
      let gal_factor = 0.03;
      if (document.getElementById("gallons").value > 1000)
        gal_factor = 0.02;
      let fluc_factor = 0.04;
      let ddate = new Date(document.getElementById("delivery_date").value);
      if (ddate.getMonth() < 2 || ddate.getMonth() > 7)
        fluc_factor = 0.03;
      margin = base_price * (location_factor - hist_factor + gal_factor + .1 + fluc_factor);
      price = base_price + margin;
      document.getElementById("pr").value = price;
      document.getElementById("total_field").value = price * document.getElementById("gallons").value;
    }
  });
  });
</script>
<form method="post">
  {% if form.errors %}
  {% for field in form %}
  {% for error in field.errors %}
  <div>
    {{ error|escape }}
  </div>
  {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
  <div>
    {{ error|escape }}
  </div>
  {% endfor %}
  {% endif %}
  {% csrf_token %}
  <h1 style="color: white;">Generate a Quote</h1>
  <p style="color: white;">Gallons Requested: <input type="number" id="gallons" name="gallons" value="{{gals}}"><label
      id="gal_err_lab">{{gal_err|crispy}}</label></p>
  <p style="color: white;">Date Of Delivery: <input type="date" id="delivery_date" name="delivery_date"
      value="{{del_date}}"><label id="date_err_lab">{{date_err|crispy}}</label></p>
  <p style="color: white;">Address: <input type="text" name="addr" value="{{addr}}" style="width: 300px;" readonly></p>
  <p style="color: white;">Price: <input type="text" id="pr" value="--" name="pr" readonly><label
      id="pr_err_lab">{{pr_err|crispy}}</label></p>
  <p style="color: white;">Total: <input id="total_field" type="text" name="tot" value="--" readonly><label
      id="tot_err_lab">{{tot_err|crispy}}</label></p>
  <p><button type="button" class="btn btn-default" id="get_price">Get Price</button>
    <button type="submit" class="btn btn-default">Submit</button></p>
</form>
{% endblock %}