{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'fuelest/main.css' %}">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
  {% block content %}
  <p style="font-family:georgia,garamond,serif;font-size:50px;font-style:italic;color:
     white;padding-left: 105px;padding-top: 10px;"> Fuel Appraisal
  </p>
  <div class="content">
    <h1 class="title">
      <p style="font-size:30px;color: white;">
        Login to Fuel Appraisal
      </p>
    </h1>
    <form method="post" style="color: white;">
      {% csrf_token %}
      {{ form.as_p }}
      <button style="position: relative; left: 74px;" type="submit" class="btn btn-light">Login</button>
    </form>
    <a a href="register" style="position: relative; bottom: 53px; left: 200px" class="btn btn-light"
      role="button">Register</a>
    {% endblock %}
  </div>
</body>